<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

 <h1> Create a New Cartoon</h1>
<form action="/pokemon" method="post">
    <label for="name">Pokemon Name:</label>
    <input type="text" name="name" placeholder="Name of Pokemon"/>
  
    <label for="type">Pokemon Types:</label>
    <input type="text" name="type" placeholder="Enter Pokemon Types"/>
  
    <label for="hp">HP:</label>
    <input type="number" name="hp" placeholder="Enter hp"/>
  
    <label for="attack">Attack:</label>
    <input type="number" name="attack" placeholder="Enter Attack"/>
  
    <label for="defense">Defense:</label>
    <input type="number" name="defense" placeholder="Enter Defense"/>
  
    <input class="submitButton" type="submit" value="Add Pokemon"/>

</form>
    
</body>
</html>