<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    
    <h1>List of Pokemons</h1>
    <div class="button">
    <a href="/pokemon/new"><button>Create New Pokemon</button></a>
    </div>
        <div class="gallery">


        <% pokemon.forEach((pokemon, index) => { %>
                <div class="card">

                <a href="/pokemon/<%=pokemon._id%>">
                    <div class="card-info">
                    <h4><%=pokemon.name%></h4>
                </a>
                <br>
               
                <img src="<%=pokemon.img%>">

                
                
                </div>


        </div>
           

        <% }) %>
    
    
</body>
</html>