<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

 <h1> Create a New Pokemon</h1>
<form action="/pokemon" method="post">
    <label for="name">Pokemon Name:</label>
    <input type="text" name="name" placeholder="Name of Pokemon"/>
  
    <label for="type">Pokemon Types:</label>
    <input type="text" name="type" placeholder="Enter Pokemon Types"/>
  
    <label for="hp">HP:</label>
    <input type="number" name="hp" placeholder="Enter HP"/>
  
    <label for="attack">Attack:</label>
    <input type="number" name="attack" placeholder="Enter Attack"/>
  
    <label for="defense">Defense:</label>
    <input type="number" name="defense" placeholder="Enter Defense"/>
  
    <label for="spattack">Spattack:</label>
    <input type="number" name="spattack" placeholder="Enter Spattack"/>

    <label for="spdefense">Spdefense:</label>
    <input type="number" name="spdefense" placeholder="Enter Spdefense"/>

    <label for="speed">Speed:</label>
    <input type="number" name="speed" placeholder="Enter Speed"/>

    <input type="submit" value="Add Pokemon"/>

</form>
    <a href="/pokemon"><button>Back to main page</button></a>
</body>
</html>