

body {
    background-color:lavender;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: crimson;
    font-size: 40px;
    justify-content: center;
}

h2 {
    text-align: center;
    color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
}

h3 {
    color: darkslateblue;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

h4 {
    text-align: center;
    color: darkcyan;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

a {
    text-align: center;
    color:darkcyan;
    font-size: 15px;
}

ul {
    display: flex;
    color: black;
}



.form-container label {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

.form-container input {
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    margin: 0 auto;
}


/* div.gallery img {
    width: auto;
    height: auto;
    float: left;
}

div.desc {
    padding: 15px;
    text-align: center;
} */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: auto;
    margin-bottom: 20px;
    border-radius: 20px;
}

.card img {
    width: auto;
    height: auto;
    border-radius: 20px;
}

.button {
    background-color: crimson;
    text-align: center;
}

.container {
    text-align: center;
    background-color: crimson;
}

.pokemonImg {
    text-align: center;
    padding-top: 10px;
}

.left-box {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    width: auto
}

.right-box {
    display: flex;
    justify-content: center;
    border: 1px solid black;
    padding: 5px;
    width: auto;
    margin-top: 10px;
}

.container-box {
    text-align: center;
    display: block;
    justify-content: center;
}

.box {
    width: 48%;
    text-align: center;
}

.box h3 {
    text-align: center;
    padding: 5px;
    margin-top: 0;
}

.box li {
    margin-bottom: 10px;
    display: block;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    text-align: center;
}